<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Freehand&display=swap" rel="stylesheet"> 

    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>Vue To Do List</title>
</head>
<body>

    <div id="app">

        <main>
            <div class="container">
                <h1>ToDo List</h1>
                
                <div class="add-items">
                    <label for="add-input">Add an ToDo Item</label>
                    <div class="add-interaction">
                        <input type="text" id="add-input" v-model="">
                        <button class="add-item-btn">Add</button>
                    </div>
                </div>

                <p class="empty-list" v-if="toDoList.length === 0">Non hai nulla da fare!!!</p>
                <ul v-else>
                    <li v-for="(toDoElement,toDoIndex) in toDoList">
                        <span 
                            :class="(toDoElement.isDone === true) ? 'line-through half-opacity' : ''">
                            {{ toDoElement.text }}
                        </span>

                        <span>
                            <span v-if="toDoElement.isDone === true">
                              &check;  
                            </span>

                            <a @click.prevent="removeToDoItem(toDoIndex)">
                                &cross;
                            </a>    
                        </span>

                    </li>
                </ul>
                
            </div>

        </main>

    </div>

    <script src="js/script.js"></script>    
</body>
</html>